<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppHocTapChoTre"
        android:usesCleartextTraffic="true">
        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.Games.sudoku"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.GiaoDienTong.GiaoDienTong"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.LyThuyet.TracNghiem"
            android:exported="false" />
        <!--<activity
            android:name=".TroChoi"
            android:exported="false"
            android:theme="@style/Theme.AppHocTapChoTre" />-->
        <activity
            android:name=".UI.Activity.Settings.CaiDat"
            android:exported="false" />
        <activity android:name=".UI.Activity.Settings.Viewpager2.GioiThieuKHViewPager" />
        <activity android:name=".UI.Activity.Settings.NgonNgu" />
        <activity android:name=".UI.Activity.Settings.ThongBao" />
        <activity
            android:name=".UI.Activity.GioiThieu.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.CungCo.CungCoActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.CungCo.CungCoActivity2"
            android:exported="false" /><!-- ai làm gì môn học toán hả cấn lỗi t comment -->
        <!-- <activity -->
        <!-- android:name=".monhoctoan" -->
        <!-- android:exported="false" /> -->
        <activity android:name=".UI.Activity.LyThuyet.BangCuuChuong" />
        <activity android:name=".UI.Activity.MonHoc.NoiDungTiengViet" />
        <activity android:name=".UI.Activity.HoatDongDangDienRa.Thuthach100Cau" />
        <activity android:name=".UI.Activity.HoatDongDangDienRa.CauHoi100" />
        <activity
            android:name=".UI.Activity.TroChoi.Trochoi"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.OnLuyen.OnLuyen"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.OnLuyen.DeCoBan"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.OnLuyen.DeTrungBinh"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.OnLuyen.DeNangCao"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.MonHoc.LyThuyetCoBan"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.MonHoc.MonHocTiengViet"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.MonHoc.MonHocToan"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.Account.DangKy.DangKyOTP"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.Account.QuenMatKau.QuenMatKhauOTP"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.Account.DangKy.DangKy"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.Account.QuenMatKau.QuenMatKhau"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.Account.DangNhap.DangNhapOTP"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.Account.DangNhap.GiaoDienDangNhap"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.ON_LUYEN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>