<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppHocTapChoTre"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".CaiDat"
            android:exported="false" />
        <activity
            android:name=".LichSu"
            android:exported="false" />
        <activity
            android:name=".OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CungCo.cungcokienthuc"
            android:exported="false" /> <!-- ai làm gì môn học toán hả cấn lỗi t comment -->
        <!-- <activity -->
        <!-- android:name=".monhoctoan" -->
        <!-- android:exported="false" /> -->
        <activity android:name=".BangCuuChuong" />
        <activity
            android:name=".Activity.OnLuyen.OnLuyen"
            android:exported="false" />
        <activity
            android:name=".Activity.OnLuyen.DeCoBan"
            android:exported="false" />
        <activity
            android:name=".Activity.OnLuyen.DeTrungBinh"
            android:exported="false" />
        <activity
            android:name=".Activity.OnLuyen.DeNangCao"
            android:exported="false" />
        <activity
            android:name=".Activity.TrangChu.TrangChu1"
            android:exported="false" />
        <activity
            android:name=".TrangChu"
            android:exported="false" />
        <activity
            android:name=".Activity.MonHoc.LyThuyetCoBan"
            android:exported="false" />
        <activity
            android:name=".Activity.MonHoc.MonHocTiengViet"
            android:exported="false" />
        <activity
            android:name=".Activity.MonHoc.MonHocToan"
            android:exported="false" />
        <activity
            android:name=".Activity.GioiThieu.GioiThieu4"
            android:exported="false" />
        <activity
            android:name=".Activity.GioiThieu.GioiThieu3"
            android:exported="false" />
        <activity
            android:name=".Activity.GioiThieu.GioiThieu2"
            android:exported="false" />
        <activity
            android:name=".Activity.GioiThieu.GioiThieu1"
            android:exported="false" />
        <activity
            android:name=".Activity.Account.DangKy.DangKyOTP"
            android:exported="false" />
        <activity
            android:name=".Activity.Account.QuenMatKau.QuenMatKhauOTP"
            android:exported="false" />
        <activity
            android:name=".Activity.Account.DangKy.DangKy"
            android:exported="false" />
        <activity
            android:name=".Activity.Account.QuenMatKau.QuenMatKhau"
            android:exported="false" />
        <activity
            android:name=".Activity.Account.DangNhap.DangNhapOTP"
            android:exported="false" />
        <activity
            android:name=".Activity.Account.DangNhap.GiaoDienDangNhap"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.ON_LUYEN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>