<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppHocTapChoTre"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".CauHoiCungCo"
            android:exported="false" />
        <activity
            android:name=".CungCoMonHoc"
            android:exported="false" />
        <activity
            android:name=".CungCoKienThuc"
            android:exported="false" />
        <activity
            android:name=".TrangChu1"
            android:exported="false" />
        <activity
            android:name=".GioiThieu4"
            android:exported="false" />
        <activity
            android:name=".GioiThieu3"
            android:exported="false" />
        <activity
            android:name=".GioiThieu2"
            android:exported="false" />
        <activity
            android:name=".GioiThieu1"
            android:exported="false" />
        <activity
            android:name=".DangKyOTP"
            android:exported="false" />
        <activity
            android:name=".QuenMatKhauOTP"
            android:exported="false" />
        <activity
            android:name=".DangKy"
            android:exported="false" />
        <activity
            android:name=".QuenMatKhau"
            android:exported="false" />
        <activity
            android:name=".DangNhapOTP"
            android:exported="false" />
        <activity
            android:name=".GiaoDienDangNhap"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>